@model ClientSystem.Models.Designation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<br />
<br />


<section class="content" style="text-align:center;margin-left:400px">
    <div class="row">

        <div class="col-md-6">

            <div class="box box-solid box-primary ">
                <div class="box-header with-border">
                    <h3 class="box-title">Designation</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Designation Name: ")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DesignationName)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
