
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Home.cshtml";
}

<br />
<br />
<br />

@using (Html.BeginForm())
{
    <section class="content" style="text-align:center;margin-left:500px">
        <div class="row">

            <div class="col-md-6">

                <div class="box box-login">
                    <div class="box-header with-border">
                        <h3 class="box-title">Login<span><i class="glyphicon glyphicon-log-in"></i></span></h3>
                    </div>
                    <form role="form">
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div>
                                    <input type="text" id="email" name="email" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div>
                                    <input type="password" id="password" name="password" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Login" class="btn btn-default pull-left" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}